
.backgrnd{
  background-image: url(../img/header.jpg);
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row {
     display: flex;
     flex-direction: row;
     justify-content:center;
}
.flex-re-row {
     display: flex;
     flex-direction: row-reverse;
      background-color:#F4F4F4;
     justify-content: center;
}
.rlex-el {
  margin:auto;
}
.about-rest{
  text-align: center;
  background-color: #C0A702;
  width: 100%;
  height: 200px;
   line-height: 600%;
 }
img{
  width: 100%;
  height: 100%;
}
ul{
   float: left;
}
.div-center{
  margin-left: 450px;
}
strong{
  font-size:40px;
}
.reserv-button{
  background-color:#C0A702;
  border-style:solid;
  border-width: 2px;
  border-color: white;
  border-radius: 15px 15px 15px 15px;
  color:white;
  cursor: pointer;
  width: 150px;
  height: 30px;
}
.clickhere-button{
  background-color:#E50009;
  border-radius: 15px 15px 15px 15px;
  color:white;
  cursor: pointer;
  width: 150px;
  height: 30px;
}
.ordernow-button{
  background-color:#C0A702;
  border-radius: 15px 15px 15px 15px;
  color:white;
  cursor: pointer;
  width: 150px;
  height: 30px;
}
a{
  color:#80322E;
}
.form-flex{
  display: flex;
  flex-direction: column;
}

input{
  text-align: center;
  margin:5px;
}
.button-on-form{
   margin:5px;
}
.div-for-form{
  background-color: #D4001D;
  margin: 10px; padding: 30px;"
}
